<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <span class="over"> <i class="fas fa-bars"></i> </span>

    <img src="../assets/logo.jpg" height="50px">
  </a>
  <span>DIRECT TAX</span>
  <!-- Links -->
  <ul class="navbar-nav offset-sm-8">
    <li class="nav-item">
      <a class="nav-link" href="#"><select>
          <option>select technology</option>
          <option>angular</option>
          <option>java</option>
          <option>python</option>

        </select></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
    </li>
    <li class="nav-item">
      <img src="../assets/person.png" height="50px">
    </li>
  </ul>
</nav>
<main class="bg">
  <div class="sidebar">
    <div class="row">
      <div class="col-sm-2 side">
        <ul class="list-unstyled">
          <li><input type="search" placeholder="Search"></li>
          <li><a href="#"><i class="fas fa-star"></i>Home</a></li>
          <li><a href="#"><i class="fas fa-home"></i>about</a></li>
          <li><a href="#"><i class="fas fa-address-book"></i>registration</a></li>
          <li><a href="#"><i class="fas fa-phone"></i>contact details</a></li>
          <li><a href="#"><i class="fas fa-file"></i>files</a></li>
          <li><a href="#"> company overview</a></li>
          <li><a href="#" class="fas fa-map-marker-alt"> gps map</a></li>
          <li><a href="#" class="fas fa-sign-out-alt"> > logout</a></li>
        </ul>
      </div>



      <div class="col-sm-10">


        <div class="right-side-content">
          <div class="row">
            <!-- <div class="container"> -->
              <div class="col-lg-3">
                <fieldset class="border p-1">
                  <legend class="w-auto">Rate Description *</legend>
                  <span><input type="text" value="SDXAd" style="border:none;"></span>
                </fieldset>
              </div>
              <div class="col-lg-3">
                <fieldset class="border p-1">
                  <legend class="w-auto">From Date *</legend>
                  <span><input type="date" style="border:none;"></span><i class="fa fa-calendar calen"
                    aria-hidden="true"></i>
                </fieldset>
              </div>

              <div class="col-lg-3 legend">
                <fieldset class="border p-1">
                  <legend class="w-auto">To Date *</legend>
                  <span><input type="date" style="border:none;"></span><i class="fa fa-calendar calen"
                    aria-hidden="true"></i>
                </fieldset>
              </div>

            <!-- </div> -->
          </div>
          <table class="table table-bordered table-striped">

            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>gender</th>
                <th>address</th>



              </tr>
            </thead>
            <tbody>
              <tr>
                <td>niranjan</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>male</td>
                <td>hydrabad</td>
                <td class="so">   <i class="fas fa-trash-alt"></i><br>
                  <i class="fas fa-pen"></i>   </td>
              </tr>
              <tr>
                <td>swathi</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                <td>female</td>
                <td>kakinada</td>

                <td class="so">   <i class="fas fa-trash-alt"></i><br>
                  <i class="fas fa-pen"></i>   </td>
              </tr>
              <tr>
                <td>dinesh</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                <td>male</td>
                <td>kakinada</td>
                <td class="so">   <i class="fas fa-trash-alt"></i><br>
                  <i class="fas fa-pen"></i>   </td>
              
              </tr>
              <tr>
                <td>rakesh</td>
                <td>Dooley</td>
                <td>rakesh@example.com</td>
                <td>male</td>
                <td>kakinada</td>
                <td class="so">   <i class="fas fa-trash-alt"></i><br>
                  <i class="fas fa-pen"></i>   </td>
              </tr>
              <tr>
                <td>prashanth</td>
                <td>Dooley</td>
                <td>prashanth@example.com</td>
                <td>male</td>
                <td>kakinada</td>
                <td class="so">   <i class="fas fa-trash-alt"></i><br>
                  <i class="fas fa-pen"></i>   </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<router-outlet></router-outlet>